<div class="tableSection">
    <h1>Orders</h1>
    <div *ngIf="orders.length == 0">
      <h1>You did not make any orders</h1>
    </div>
  
    <div *ngIf="orders.length > 0">
      <ng-container *ngIf="orders.length > 0">
        <table>
          <thead>
            <tr>
                <th>Order</th>
                <th *ngIf="(currentUser$ | async)?.accountType == 'cooperative'">User</th>
                <th>Date</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders let i = index" routerLink="/orders/{{order.id}}" >
                <td># {{i+1}}</td>
                <td *ngIf="(currentUser$ | async)?.accountType == 'cooperative'">{{order.farmerEmail}}</td>
                <td>{{order.datetimeOfOrderCreation | date: 'medium'}}</td>
                <td>{{order.orderPoints}}</td>
                <td class="uppercase">{{order.status}}</td>
            </tr>
        </tbody>
        </table>
      </ng-container>
  </div>
  
  
  </div>
  